<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <title>Tabela de cálculo</title>
</head>

<body>
    <div id="app">
        <nav class="nav1">
            <ul>
                <li @click="alternar" class="container">
                    {{nome}} Tela Faturamento
                </li>
            </ul>
        </nav>
        <div v-if="tela" class="container" style="width: 100%;">
            <input v-model="filtro" type="number" placeholder="filtro" class="form-control">
            <button @click="addmais" class="btn btn-outline-primary">+</button>
            <button @click="addmenos" class="btn btn-outline-danger">-</button>
            <button @click="calcular" class="btn btn-outline-success">Calcular</button>
            <button @click="clear" class="btn btn-outline-secondary">limpar</button>
        </div>
        <div v-if="!tela" class="container" style="width: 100%;">
            <button @click="calculartela2" class="btn btn-outline-success">Calcular</button>
        </div>
        <div class="container">
            <table class="table table-sm">
                <tr>
                    <th>Lista 1</th>
                    <th>Lista 2</th>
                    <th>Resultado</th>
                </tr>
                <tbody v-if="tela">
                    <tr v-for="(entradas, i) in entrada" :key="i">
                        <td><input v-model="lista1[i]" class="form-control" type="number"></td>
                        <td><input v-model="lista2[i]" class="form-control" type="number"></td>
                        <td>{{resultado[i]}}</td>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-for="(entradas, index) in resultado" :key="index">
                        <td>{{entradas}}</td>
                        <td><input v-model="lista3[index]" class="form-control" type="number"></td>
                        <td>{{resultado2[index]}}</td>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</body>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            lista1: [],
            lista2: [],
            lista3: [],
            resultado2: [],
            resultado: [],
            entrada: 1,
            tela: true,
            nome: 'Primeira',
            filtro: ''
        },
        watch: {
            filtro() {
                console.log('po')
                for(let i=0; i<this.entrada; i++){
                    this.lista2[i]=this.filtro

                }

            },
        },
        methods: {

            addmais() {
                this.entrada++
            },
            addmenos() {
                if (this.entrada > 0) {
                    this.entrada--
                    this.lista1.splice(this.entrada, 1)
                    this.lista2.splice(this.entrada, 1)
                    this.lista3.splice(this.entrada, 1)
                    this.resultado.splice(this.entrada, 1)
                    this.resultado2.splice(this.entrada, 1)
                }
            },
            calcular() {
                this.resultado = this.lista1.map((element, index) => {
                    return parseFloat(element) * parseFloat(this.lista2[index])
                })
            },
            calculartela2() {
                this.resultado2 = this.lista3.map((element, index) => {
                    if ((element && this.resultado[index]) && this.resultado[index] != 'invalido') {
                        return parseFloat(element) * parseFloat(this.resultado[index])
                    } else {
                        return 'invalido'
                    }
                })
            },
            clear() {
                this.entrada = 0
                this.lista1 = []
                this.lista2 = []
                this.resultado = []
                this.lista3 = []
                this.resultado2 = []
            },
            alternar(element) {

                this.tela = !this.tela

                if (this.tela) {
                    element.target.style.backgroundColor = "teal"
                    element.target.style.borderRadius = "10px"
                    this.nome = 'Primeira'
                } else {
                    element.target.style.backgroundColor = "orange"
                    element.target.style.borderRadius = "10px"
                    this.nome = 'Segunda'
                }
            },
        }

    })

</script>
<style>
    * {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 20px;
    }

    tr {
        text-align: center;
    }

    td {
        text-align: center;
    }

    th {
        min-width: 80px;
    }

    button {
        margin: 5px;
    }

    .nav1 {
        width: 300px;
        margin: 0 auto;
    }

    .nav1 li {
        border-radius: 10px;
        list-style: none;
        background-color: teal;
        padding: 2px;
        margin-top: 10px;
    }

    .nav1 li:hover {
        background-color: rgb(216, 142, 4);
    }
</style>

</html>